<launch>

  <!-- LAUNCH SIMULATION AND VISUALIZATION LAUNCHFILES -->

  <!-- 3D Gazebo simulation -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find p2_robots_moviles)/launch/mapa_final_con_mesas"/>
  </include>

  <!-- Navigation stack -->
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(find p2_robots_moviles)/launch/map_pr2.yaml"/>
    <arg name="initial_pose_x" value="15.0"/>
    <arg name="initial_pose_y" value="15.0"/>
    <arg name="initial_pose_a" value="4.71239"/>
  </include>

  <!-- Navigation RViz viewer -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>





  <!-- RUN PACKAGE NODES -->

  <!-- area_publisher -->
  <node name="area_publisher" type="area_publisher" pkg="p2_robots_moviles"/>

  <!-- goal_publisher -->
  <node name="goal_publisher" type="goal_publisher" pkg="p2_robots_moviles"/>

  <!-- main_process - Commented to allow to execute or stop independently (explained in documentation) -->
  <!--node name=""goal_publisher" type="main_process" pkg="p2_robots_moviles"/-->

</launch>
